blinker          
Bootstrap-Flask  
click            
cocotb           
crccheck         
dominate         
find_libpython   
Flask            
Flask-Bootstrap  
Flask-Cors       
Flask-Login      
Flask-SQLAlchemy 
Flask-WTF        
greenlet         
itsdangerous     
Jinja2           
MarkupSafe       
pyodbc           
setuptools       
SQLAlchemy       
sqlalchemy-access
typing_extensions
visitor          
Werkzeug         
WTForms          
